<h1>Formulario de Contacto</h1>
<form [formGroup]="formulario" (ngSubmit)="enviar()">
  <div>
    <label for="">Nombre</label>
    <input type="text" formControlName="nombre">
  </div>
  <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched">
    <P>campo obligatorio</P>
  </div>
  <br>
  <div>
    <label for="">Email</label>
    <input type="email" formControlName="email">
    <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
      <p>ingrese un email valido</p>
    </div>
  </div>
  <br>
  <div>
    <label for="">Mensaje</label>
    <input type="text" formControlName="mensaje">
  </div>
  <div *ngIf="formulario.get('mensaje')?.invalid && formulario.get('mensaje')?.touched">
    <P>campo obligatorio</P>
  </div>
  <div>
    <button type="submit">Enviar</button>
  </div>





</form>
